@import '../../../styles/shared.scss';

.sidebar-item {
	background: $white;
	cursor: pointer;

	span {
		i.icon {
			margin-right: 20px;
			color: $grey;
		}
	}

	&.highlight-item {
		span {
			font-weight: 600;
		}

		i.icon {
			color: $red;
		}
	}
}

.sidebar-item-alignment-container {
	display: flex;
	align-items: center;
}