@import '../../styles/shared.scss';

$sidebar-hover-color: #f2f2f2;

.ui.menu.fixed.side-nav {
	background-color: $white;
	margin-top: $header-nav-height;
	padding-bottom: $header-nav-height;
	overflow-y: auto;

	.sidebar-item:hover {
		background: $sidebar-hover-color;
	}
}

.side-nav.ui.vertical.menu {
	width: 17rem;
}